@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Nunito', sans-serif;
}

.banner {
    width: 100%;
    height: 100vh; 
    background: url("./img/B1.png");
    background-color: #fff;
    background-repeat: no-repeat;
    background-size: fixed;
    padding-left: 47%;
    position: relative;
    
}

.banner__content {
    display: flex;
    align-items: center;
    height: 100vh;
    /* color: #fff; */ color: rgb(255, 94, 0);
}

.container {
    width: 1200px;
    max-width: 1200px;
    margin: 0 auto;
}

.banner__text {
    width: 700px;
}
.banner__text h3 {
    font-size: 30px;
    color: #333;
}
.banner__text h1 {
    font-size: 50px;
    line-height: 80px;
    font-weight: 900;
    margin-top: 20px;
}
.banner__text p {
    font-size: 20px;
    font-weight: 300;
    margin-top: 20px;
    color: rgb(247, 150, 71);
}

.navbar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.navbar__text {
    display: flex;
    height: 60px;
    align-items: center;
    width: 1200px;
    margin: 0 auto;
}

.navbar__ul {
    width: 100%;
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
}

.navbar__ul li a {
    text-decoration: none;
    color: rgb(255, 94, 0);
    padding: 0 15px;
    font-weight: 800;
    text-transform: uppercase;
}

.banner__btn {
    margin-top: 35px;
}


.btn {
    text-decoration: none;
    border: none;
    outline: none;
    color: #333;
    font-weight: 700;
    border-radius: 30px;
    font-size: 15px;
    padding: 15px 30px;
    margin: 2%;
}

.btn-smart {
    background: rgb(247, 150, 71);
}

.about {
    padding: 80px 0;
}

.p-25 {
    padding: 45px;
}

.row {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.col-6 {
    width: 50%;
}
.col-3 {
    width: 25%;
}
.col-4 {
    width: 33.33333333333333%;
}
.about h3 {
    color: rgba(37, 37, 37, 0.7);
    font-size: 30px;
    margin-bottom: 12px;
    font-weight: 700;
}
.about h1 {
    font-size: 40px;
    color: #252525;
    font-weight: 700;
    line-height: 40px;
    margin-bottom: 15px;
}
.about p {
    font-size: 18px;
    color: #8b8b8b;
    font-weight: 300;
}

.about__btn {
    margin-top: 35px;
}
.about__img {
    width: 100%;
    overflow: hidden;
}

.about__img img {
    width: 100%;
}